asgiref==3.8.1
cffi==1.17.1
chardet==5.2.0
cryptography==45.0.2
Django==5.2.1
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
joblib==1.5.1
numpy==2.2.6
pandas==2.2.3
Pillow==11.2.1
pycparser==2.22
PyJWT==2.9.0
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.1
scikit-learn==1.6.1
scipy==1.15.3
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tzdata==2025.2